.top {
	margin-top: 60px;
}

textarea {
	background-color: #fefefe;
	height: 400px;
	font-family: monospace;
}

.editors {
	height: 400px;
	margin-top: 20px;
	border-radius: 3px;
	border: 1px solid #f0f0f0;
	float: right;
}

.msg-area {
	margin-top: 15px;
}
